{
  "presets": ["@babel/preset-env"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@": "./src",
          "@components": "./src/components",
          "@controllers": "./src/controllers",
          "@middlewares": "./src/middlewares",
          "@services": "./src/services",
          "@models": "./src/models",
          "@utils": "./src/utils",
          "@validators": "./src/validators",
          "@constants": "./src/constants"
        }
      }
    ]
  ]
}
